.container{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    gap: 20px;
}

.posterImage{
    min-width: 199px;
    max-width: 200px;

    min-height: 299px;
    max-height: 300px;
    background-size: cover;
    background-position: center;
}

.filmContainer{
    width: 100%;
    max-width: 1200px;
    cursor: pointer;
    transition: transform 0.2s;
    text-align: center;
}

.moviesGrid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    justify-items: center;
    align-items: center;
    margin-top: 20px;
}